[user]
	name = "Kai Lee"
#	email = $EMAIL

[fetch]
	prune = true

[push]
	default = upstream

[core]
  pager =
  core = emacsclient
	preloadindex = true # http://stackoverflow.com/questions/18257622/why-is-git-core-preloadindex-default-value-false
	deltabasecachelimit = 4g
#	excludesfile = $HOME/.gitignore

[help]
	# Automatically correct and execute mistyped commands such as `git stauts`
	autocorrect = 50

[feature]
	manyfiles = true
